body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
.mapass{
    width: 100%;
    height: 100%;
}
.antemapa{
    display:flex;
}
.tabssinscroll{
    overflow: hidden;
}
.iconosgrandes{
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
}
.imagenesenlosacordiones {
    width: 42px;
    height: 42px;
}